<main>
  <div class="container horizontal">
    <img src="/assets/haragun/h2.jpg" alt="refugio_photo">
    <div class="text-content">
      <h2>Haragun</h2>
      <p>
        Добро пожаловать в Haragun — изысканный ресторан европейской кухни за пределами Алматы. Здесь городская суета сменяется гармонией вкусов и уюта: элегантный интерьер, мягкое освещение и непринуждённая атмосфера задают идеальный тон вашему вечеру.
      </p>
      <p>
        Наше меню сочетает в себе лучшие кулинарные традиции Европы и современные гастрономические тенденции. От лёгких тартар и нежных крем-супов до сочно́го стейка и авторских десертов — каждый блюдо создаётся с любовью к деталям и вниманием к сезонным продуктам.
      </p>
      <p>
        В Haragun мы стремимся не просто накормить, а подарить вам настоящее гастрономическое путешествие по главным уголкам Старого Света. Приглашаем вас открыть новые вкусы, разделить радость застолья и окунуться в атмосферу безупречного сервиса.
      </p>
    </div>
  </div>


  <div class="container horizontal bullets">
    <div class="text-content">
      <ul>
        <li>
          <h3>🍷 О ресторане</h3>
          <p>
            Haragun – европейский кантри-клуб на живописном склоне неподалёку от Алматы. В просторных залах и на террасе с панорамными окнами царит атмосфера загородного уюта: благородное дерево, каминные вставки и комфортные кресла приглашают расслабиться. Сквозь стекла вы наблюдаете за конными прогулками и занятиями на манеже — идеальный фон для неспешных обедов и душевных встреч.
          </p>
        </li>
        <li>
          <h3>👨‍🍳 Кухня от шеф-повара</h3>
          <p>
            Меню ресторана предлагает разнообразные блюда европейской кухни, включая свекольные ньокки с креветками и рапаны, томлённые в сливках с картофельным кремом и лисичками. Haragun предлагает панорамные окна с видом на конные прогулки, живую музыку по пятницам и субботам с 19:30 до 22:00, а также кинопоказы под открытым небом каждый вторник, четверг и воскресенье с 19:00.
          </p>
        </li>

      </ul>
    </div>
    <img src="/assets/haragun/h1.jpg" alt="Refugio Del Monto">
  </div>
</main>

<div id="slider">
  <input type="radio" name="slider" id="slide1" checked>
  <input type="radio" name="slider" id="slide2">
  <input type="radio" name="slider" id="slide3">
  <input type="radio" name="slider" id="slide4">
  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <div class="slide slide_1">
          <div class="slide-content">
            <img src="/assets/haragun/c1.jpeg" alt="Refugio Del Monto">

          </div>
        </div>
        <div class="slide slide_2">
          <div class="slide-content">
            <img src="/assets/haragun/c2.jpeg" alt="Refugio Del Monto">
          </div>
        </div>
        <div class="slide slide_3">
          <div class="slide-content">
            <img src="/assets/haragun/c4.jpeg" alt="Refugio Del Monto">
          </div>
        </div>
        <div class="slide slide_4">
          <div class="slide-content">
            <img src="/assets/haragun/c3.jpeg" alt="Refugio Del Monto">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
  <div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
</div>

<div class="section_map">
  <div class="s1">
    <div class="box">
      <h1 id="maph1">📍Наше местоположение</h1>
      <p id ="mapp">Ресторан находится по адресу ул. Садовый переулок, 2205.<br>
        На территории конно-спортивного клуба Haragun.
        В связи с небольшим количеством посадочных мест, убедительно просим бронировать стол заранее.<br>
        Телефон: +7 (777) 858-59-59
      </p>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7387df3400917a74260fabe3d14bad717e324ed31e6363774060218338c1270e&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
  </div>
</div>

