<div class="contacts-wrapper">
  <h1 class="title">Контакты</h1>
  <div class="contacts-grid">
    <div class="contact-block">
      <h2>Marketing</h2>
      <div class="info-row">
        <p class="label">Контакты</p>
        <p class="value">+7 (727) 313 22 22</p>
      </div>
      <div class="info-row">
        <p class="label">Почта</p>
        <p class="value email">marketing&#64;risto.kz</p>
      </div>
    </div>

    <div class="contact-block">
      <h2>HR</h2>
      <div class="info-row">
        <p class="label">Контакты</p>
        <p class="value">+7 (727) 313 22 22</p>
      </div>
      <div class="info-row">
        <p class="label">Почта</p>
        <p class="value email">hr&#64;risto.kz</p>
      </div>
    </div>

    <div class="contact-block">
      <h2>Reception</h2>
      <div class="info-row">
        <p class="label">Контакты</p>
        <p class="value">+7 (727) 313 22 22</p>
      </div>
      <div class="info-row">
        <p class="label">Почта</p>
        <p class="value email">info&#64;risto.kz</p>
      </div>
    </div>
  </div>
</div>

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab25b616a10e6428f3b7ccf6dc4de59602810511391faafd11ec97ee0707ff533&amp;source=constructor" width="592" height="295" frameborder="0"></iframe>
