<main>
  <div class="container horizontal">
    <img src="/assets/bestia/b1.jpeg"  alt="refugio_photo">
    <div class="text-content">
      <h2>Bestia</h2>
      <p>
        Добро пожаловать в Bestia — ресторан современной испанской кухни в Алматы, где стиль 1970–80-х годов сочетается с электронной музыкой и авторскими блюдами от шеф-повара Наиля Маукебаева. Интерьер украшен люстрой из 6000 диодов и скульптурой бестии, создавая атмосферу свободы и страсти.
      </p>
      <p>
        Меню предлагает традиционные тапасы и морепродукты в авторском исполнении, включая черную паэлью с кальмарами и креветками. Блюда готовятся в дровяных печах Morello Forni, придавая им уникальный вкус и аромат.
      </p>
      <p>
        Ресторан привлекает гостей люстрой из 6000 диодов и выразительными арт‑объектами, создавая динамичную и запоминающуюся атмосферу.

        Зал рассчитан на 100 гостей, есть охраняемая парковка и бесплатный Wi‑Fi для вашего комфорта
      </p>
    </div>
  </div>


  <div class="container horizontal bullets">
    <div class="text-content">
      <ul>
        <li>
          <h3>🍷 О ресторане</h3>
          <p>
            Название Bestia в переводе с итальянского означает «зверь», и это отражает характер ресторана. Расположенный в ТРЦ Dostyk Plaza, ресторан сочетает в себе стили 1970–80-х годов, электронную музыку и современную испанскую кухню. Интерьер украшен люстрой из 6000 диодов и скульптурой бестии, создавая атмосферу свободы и страсти.​
          </p>
        </li>
        <li>
          <h3>👨‍🍳 Кухня от шеф-повара</h3>
          <p>
            Шеф-повар Наиль Маукебаев предлагает гостям не просто блюда традиционной кухни Пиренейского полуострова, а настоящее гастрономическое путешествие по современной испанской кухне. Традиционные тапасы, мясо, рыба и морепродукты, представленные в авторском исполнении шеф-повара, продемонстрируют гостям новые грани вкуса и текстуры. Блюда готовятся в дровяных печах Morello Forni, придавая им уникальный вкус и аромат.​
          </p>
        </li>

      </ul>
    </div>
    <img src="/assets/bestia/b2.jpg" alt="Refugio Del Monto">
  </div>
</main>

<div id="slider">
  <input type="radio" name="slider" id="slide1" checked>
  <input type="radio" name="slider" id="slide2">
  <input type="radio" name="slider" id="slide3">
  <input type="radio" name="slider" id="slide4">
  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <div class="slide slide_1">
          <div class="slide-content">
            <img src="/assets/bestia/c7.jpeg" alt="Refugio Del Monto">

          </div>
        </div>
        <div class="slide slide_2">
          <div class="slide-content">
            <img src="/assets/bestia/c2.png" alt="Refugio Del Monto">
          </div>
        </div>
        <div class="slide slide_3">
          <div class="slide-content">
            <img src="/assets/bestia/c1.png" alt="Refugio Del Monto">
          </div>
        </div>
        <div class="slide slide_4">
          <div class="slide-content">
            <img src="/assets/bestia/c4.jpeg" alt="Refugio Del Monto">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
  <div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
</div>

<div class="section_map">
  <div class="s1">
    <div class="box">
      <h1 id="maph1">📍Наше местоположение</h1>
      <p id ="mapp">Ресторан находится по адресу мкр. Самал - 2, 111, ТРЦ Dostyk Plaza.<br>
        В связи с небольшим количеством посадочных мест, убедительно просим бронировать стол заранее.<br>
        Телефон: +7 (777) 325-33-99
      </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.832705584022!2d76.95515757644195!3d43.233967071125136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836f7002b7e165%3A0x2760bbead612fcf2!2sBestia!5e0!3m2!1sen!2skz!4v1745347780476!5m2!1sen!2skz"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

