<main>
  <div class="container horizontal">
    <img src="/assets/rifugio/1.jpg" alt="refugio_photo">
    <div class="text-content">
      <h2>Rifugio Del Monto</h2>
      <p>
        Добро пожаловать в — ресторан европейской кухни, расположенный в сердце гор Заилийского Алатау, на живописном горнолыжном курорте Шымбулак.​
      </p>
      <p>
        Насладитесь тщательно приготовленными блюдами, вдохновлёнными местными традициями и современными кулинарными тенденциями. Наше меню предлагает широкий выбор вкусов — от нежных закусок до изысканных десертов.
      </p>
      <p>
        В Refugio мы стремимся создать не просто ужин, а настоящее гастрономическое путешествие.
      </p>
    </div>
  </div>


  <div class="container horizontal bullets">
    <div class="text-content">
      <ul>
        <li>
          <h3>🍷 О ресторане</h3>
          <p>
            Название Rifugio del Monte в переводе с итальянского означает «горное убежище», и это не случайно. Здесь, среди величественных пейзажей, вы найдёте уютное место с тёплой атмосферой, где каждый гость чувствует себя как дома. Из окон и с террасы открываются захватывающие виды на горные вершины — идеальные условия для романтических ужинов, семейных обедов или встреч с друзьями.
          </p>
        </li>
        <li>
          <h3>👨‍🍳 Кухня от шеф-повара</h3>
          <p>
            Под руководством шеф-повара Никиты Еремеева, ресторан предлагает авторские интерпретации классических европейских блюд. Среди кулинарных шедевров — запечённая треска в стиле нобу с капустой пак-чой и проросшей пшеницей, а также «фассоне аль камино» с ароматным чёрным трюфелем, картофельным пюре и густым говяжьим бульоном.
          </p>
        </li>

      </ul>
    </div>
    <img src="/assets/rifugio/3.jpg" alt="Refugio Del Monto">
  </div>
</main>

<div id="slider">
  <input type="radio" name="slider" id="slide1" checked>
  <input type="radio" name="slider" id="slide2">
  <input type="radio" name="slider" id="slide3">
  <input type="radio" name="slider" id="slide4">
  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <div class="slide slide_1">
          <div class="slide-content">
            <img src="/assets/rifugio/2.jpg" alt="Refugio Del Monto">

          </div>
        </div>
        <div class="slide slide_2">
          <div class="slide-content">
            <img src="/assets/rifugio/f2.jpg" alt="Refugio Del Monto">
          </div>
        </div>
        <div class="slide slide_3">
          <div class="slide-content">
            <img src="/assets/rifugio/4.jpg" alt="Refugio Del Monto">
          </div>
        </div>
        <div class="slide slide_4">
          <div class="slide-content">
            <img src="/assets/rifugio/f5.jpg" alt="Refugio Del Monto">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
  <div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
</div>

<div class="section_map">
  <div class="s1">
  <div class="box">
      <h1 id="maph1">📍Наше местоположение</h1>
      <p id ="mapp">Ресторан находится по адресу Керей Жанибек хандар 513.<br>
      С ВСК Медеу до нашего ресторана можно добраться 2 способами:<br>
        1) С 09:00 до 18:00 - Канатная дорога <br>
        2) В любое время - Экотакси <br>
        В связи с небольшим количеством посадочных мест, убедительно просим бронировать стол заранее.<br>
        Телефон: +7 (705) 163-34-34
      </p>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9acb606c9189bf37d8b7b36d28eccb175f4d21e0f5bc0ddcd9e99d385a41598b&amp;source=constructor" width="500" height="400" frameborder="0"></iframe> </div>
</div>

