<main>
  <div class="container">
    <h2>Refugio Del Monto</h2>
    <p>
      Добро пожаловать в <strong>Refugio Del Monto</strong> — уютный ресторан, где сочетаются изысканная кухня, теплый интерьер и атмосферное окружение. Это место идеально подходит как для романтических ужинов, так и для встреч с друзьями.
      <br><br>
      Насладитесь тщательно приготовленными блюдами, вдохновлёнными местными традициями и современными кулинарными тенденциями. Наше меню предлагает широкий выбор вкусов — от нежных закусок до изысканных десертов.
      <br><br>
      В Refugio мы стремимся создать не просто ужин, а настоящее гастрономическое путешествие.
    </p>
  </div>
</main>
