
<div class="info-page">
  <h1 class="title">О нас</h1>
  <div class="media">
    <div class="img" style="background-image: url(http://abr.kz/storage/app/uploads/public/607/e4f/e8d/607e4fe8dd494103681120.jpg)"></div>
  </div>

  <div class="info-content">
    <div class="text-content">
      <h2>Risto - это более 4 ресторанных концепций, раскрывающих новые грани вкуса.</h2>
      <p>
        4 ресторана, 34 сотрудников, 3 миллиона гостей в год. Это лишь малая часть 5-летнего опыта компании Risto в ресторанной индустрии.
        Начав с итальянского ресторана “Aiza Neo Bistro”, мы трансформировались в сообщество людей, которые двигают вперёд гастрономическую культуру Казахстана.
        Новаторские концепции ресторанов и ужинов, фестивали, сотрудничество с топовыми мировыми шефами и барменами, а также бесконечное обновление и поиск новых идей —
        мы те, кто задаёт тренды.
      </p>

      <blockquote>
        <p>
          «Мне хочется поделиться с вами тем, что сейчас действительно важно для нас: мы основали эту компанию с особой целью –
          делать жизнь лучше. Risto - это не просто ресторанный бизнес. Это тонкий и невероятно интересный процесс, через который
          мы транслируем свои ценности и большую цель – делиться вкусом к жизни через вкус к еде.
          Я всегда полагала, что это важно – доверять своему чутью и следовать зову сердца,
          и я безмерно рада, что в этом мы схожи с каждым нашим сотрудником и гостем»
        </p>
        <footer>— рассказывает основательница сети Ляйля Балгимбекова.</footer>
      </blockquote>

      <p>
        Сегодня гастрономия – это отдельная культура, которая легко переплетается со всеми сферами нашей жизни.
        Она влияет на город, искусство, моду и многое другое, и мы доказываем это своими проектами.
        Легко сплетая урбанистику и рестораторство, мы рассказываем истории через проекты вроде Urbanitarium.
        Задумываясь о будущем нашего города и планеты, мы внедряем инициативу Go Green.
      </p>
    </div>

    <div class="stats-card">
      <div class="stat">
        <span class="number">5</span>
        <span class="label">лет</span>
      </div>
      <div class="stat">
        <span class="number">4</span>
        <span class="label">ресторана</span>
      </div>
      <div class="stat">
        <span class="number">3</span>
        <span class="label">млн. гостей в год</span>
      </div>
    </div>
  </div>
</div>
